# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo=pd.read_csv(r"C:\Users\minds\Desktop\development\chiptole.tsv",sep="\t",header=0)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [12]:
 import beakerx
beakerx.pandas.

AttributeError: module 'beakerx' has no attribute 'pandas_display_default'

### Step 4. How many products cost more than $10.00?

In [3]:
chipo["item_price"]=chipo["item_price"].str.replace("$","")
chipo["item_price"]=pd.to_numeric(chipo["item_price"])

In [4]:
chipo_price_greater_10=(chipo["item_price"]>10).sum()
print(chipo_price_greater_10)

1130

In [114]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.6+ KB

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [107]:
new_df=chipo[["item_name","item_price"]]
new_df.head(20)

                                item_name  item_price
0            Chips and Fresh Tomato Salsa        2.39
1                                    Izze        3.39
2                        Nantucket Nectar        3.39
3   Chips and Tomatillo-Green Chili Salsa        2.39
4                            Chicken Bowl       16.98
5                            Chicken Bowl       10.98
6                           Side of Chips        1.69
7                           Steak Burrito       11.75
8                        Steak Soft Tacos        9.25
9                           Steak Burrito        9.25
10                    Chips and Guacamole        4.45
11                   Chicken Crispy Tacos        8.75
12                     Chicken Soft Tacos        8.75
13                           Chicken Bowl       11.25
14                    Chips and Guacamole        4.45
15  Chips and Tomatillo-Green Chili Salsa        2.39
16                        Chicken Burrito        8.49
17                        Chicken Burrito        8.49
18                            Canned Soda        2.18
19                           Chicken Bowl        8.75

### Step 6. Sort by the name of the item

In [99]:
sorted_value=chipo.sort_values(by=["item_name"])
sorted_value.head(20)

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink             [Coke]        6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink             [Coke]        6.49
3422      1373         1  6 Pack Soft Drink             [Coke]        6.49
553        230         1  6 Pack Soft Drink        [Diet Coke]        6.49
1916       774         1  6 Pack Soft Drink        [Diet Coke]        6.49
1922       776         1  6 Pack Soft Drink             [Coke]        6.49
1937       784         1  6 Pack Soft Drink        [Diet Coke]        6.49
3836      1537         1  6 Pack Soft Drink             [Coke]        6.49
298        129         1  6 Pack Soft Drink           [Sprite]        6.49
1976       798         1  6 Pack Soft Drink        [Diet Coke]        6.49
1167       481         1  6 Pack Soft Drink             [Coke]        6.49
3875      1554         1  6 Pack Soft Drink        [Diet Coke]        6.49
1124       465         1  6 Pack Soft Drink             [Coke]        6.49
3886      1558         1  6 Pack Soft Drink        [Diet Coke]        6.49
2108       849         1  6 Pack Soft Drink             [Coke]        6.49
3010      1196         1  6 Pack Soft Drink        [Diet Coke]        6.49
4535      1803         1  6 Pack Soft Drink         [Lemonade]        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [90]:
quantity=chipo["quantity"].loc[chipo["item_price"]==chipo["item_price"].max()]
quantity

3598    15
Name: quantity, dtype: int64

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [97]:
times=chipo[chipo["item_name"]=="Veggie Salad Bowl" ]["quantity"].count()
times

18

### Step 9. How many times people orderd more than one Canned Soda?

In [139]:
order=chipo[(chipo["quantity"]>1) &(chipo["item_name"]=="Canned Soda")]
order["quantity"].count()

20